In [1]:
from bs4 import BeautifulSoup
import FinanceDataReader as fdr
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
#DB 연결
def db_conn(host='db-dfmba.cnm8u4m2cbtp.ap-northeast-2.rds.amazonaws.com' , port=3306):
    engine = create_engine(f'mysql+pymysql://root:alexalex@{host}:{port}/stock_db')
    con = pymysql.connect(user = 'root', 
                        passwd ='alexalex',
                        host = f'{host}', 
                        db='stock_db', 
                        charset = 'utf8',
                        cursorclass = pymysql.cursors.DictCursor)
    mycursor = con.cursor()
    return engine, con, mycursor

engine, con, mycursor = db_conn()

# DB에서 주식 리스트 가저오기 
sql = "select * from krx_list"
mycursor.execute(sql)
result = mycursor.fetchall()
# con.close()
df_list = pd.DataFrame(result)

In [3]:
df_list = df_list.loc[df_list['Market'] != 'KONEX']

In [4]:
df_list

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,73500,3,0,0.00,74500,74700,73500,26198776,1935963757832,438779017425000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,189200,2,-6500,-3.32,194400,195200,188200,5958829,1131954708965,137738047458000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,331000,1,3000,0.91,331500,335500,328000,264516,87510775500,77454000000000,234000000,STK
3,005380,KR7005380001,현대차,KOSPI,,253000,2,-4000,-1.56,259500,260000,253000,1014549,258540736466,52982296323000,209416191,STK
4,207940,KR7207940008,삼성바이오로직스,KOSPI,,730000,2,-2000,-0.27,739000,740000,728000,51389,37599700000,51957020000000,71174000,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2799,032685,KR7032681009,소프트센우,KOSDAQ,중견기업부,9540,1,80,0.85,9400,9600,9400,462,4401350,3407134680,357142,KSQ
2800,001525,KR7001521004,동양우,KOSPI,,5490,1,40,0.73,5450,5490,5370,1026,5553660,3391343190,617731,STK
2801,021045,KR7021041009,대호특수강우,KOSDAQ,중견기업부,7950,2,-50,-0.63,7850,7960,7850,115,903060,3372755700,424246,KSQ
2803,001527,KR7001522002,동양2우B,KOSPI,,10810,2,-280,-2.52,11080,11080,10810,133,1453730,3335630890,308569,STK
2806,002995,KR7002991008,금호건설우,KOSPI,,10010,2,-370,-3.56,10420,10420,10010,501,5064310,2925582660,292266,STK

In [7]:
engine, con, mycursor = db_conn()

# 테이블에서 마지막 데이터 일자 가져오기 
sql = "select max(date) as max_date from kr_stock_price"

try:
    mycursor.execute(sql)
    result = mycursor.fetchone()
    print(f'Max date is {result}')
    if result['max_date'] is not None:
        max_date = pd.to_datetime(result['max_date'])
    else:
        max_date = datetime.datetime.today() - timedelta(days=6*365)
except Exception as e:
    print(f'Exception : {e}')

con.close()

Max date is {'max_date': datetime.datetime(2025, 1, 3, 0, 0)}

In [9]:

# 오늘 날짜를 기준으로 3년 전 날짜 계산
end_date = datetime.today()
start_date = max_date + timedelta(days=1)

# 종목 코드, 예를 들어 삼성전자(005930)
# stock_code = '005930'

print(f'Start date is {start_date} and End date is {end_date}')

engine, con, mycursor = db_conn()

count = 0
for stock_code in df_list.iloc[:,0] : 
    print(f'\r {stock_code} {count} / {len(df_list.iloc[:,0])}')
    df = fdr.DataReader(stock_code, start=start_date, end=end_date)
    df['Code'] = stock_code
    df.reset_index(inplace=True)
    # df.set_index(['Code', 'Date'], inplace=True)
    col1= df.columns[-1:].to_list()
    col2= df.columns[:-1].to_list()
    new_col = col1+col2
    df = df[new_col]
    # print(df)
    count = count + 1

    df.to_sql(name = 'kr_stock_price', con=engine, if_exists='append', index=False)

Start date is 2025-01-04 00:00:00 and End date is 2025-01-06 11:16:48.832554
 024070 0 / 2685
 076610 1 / 2685
 045300 2 / 2685
 246250 3 / 2685
 009140 4 / 2685
 365900 5 / 2685
 005320 6 / 2685
 190650 7 / 2685
 191410 8 / 2685
 012620 9 / 2685
 115480 10 / 2685
 002690 11 / 2685
 104040 12 / 2685
 093380 13 / 2685
 039310 14 / 2685
 002820 15 / 2685
 094860 16 / 2685
 290560 17 / 2685
 002410 18 / 2685
 208350 19 / 2685
 011090 20 / 2685
 133820 21 / 2685
 439250 22 / 2685
 001070 23 / 2685
 060900 24 / 2685
 380540 25 / 2685
 025620 26 / 2685
 291810 27 / 2685
 000950 28 / 2685
 123010 29 / 2685
 099410 30 / 2685
 008470 31 / 2685
 196490 32 / 2685
 179530 33 / 2685
 083640 34 / 2685
 290720 35 / 2685
 192390 36 / 2685
 018620 37 / 2685
 001420 38 / 2685
 086060 39 / 2685
 333050 40 / 2685
 091340 41 / 2685
 001140 42 / 2685
 017000 43 / 2685
 424760 44 / 2685
 014910 45 / 2685
 177350 46 / 2685
 148250 47 / 2685
 003535 48 / 2685
 084870 49 / 2685
 010400 50 / 2685
 001465 51 / 2685
 035460 52 / 2685
 372800 53 / 2685
 008775 54 / 2685
 113810 55 / 2685
 043090 56 / 2685
 058530 57 / 2685
 035290 58 / 2685
 299910 59 / 2685
 054090 60 / 2685
 138360 61 / 2685
 121850 62 / 2685
 080470 63 / 2685
 030720 64 / 2685
 215480 65 / 2685
 019570 66 / 2685
 001000 67 / 2685
 103230 68 / 2685
 352940 69 / 2685
 067730 70 / 2685
 026040 71 / 2685
 073190 72 / 2685
 084670 73 / 2685
 900120 74 / 2685
 187790 75 / 2685
 033050 76 / 2685
 002870 77 / 2685
 054180 78 / 2685
 035200 79 / 2685
 008600 80 / 2685
 900260 81 / 2685
 131180 82 / 2685
 015020 83 / 2685
 331920 84 / 2685
 050120 85 / 2685
 019490 86 / 2685
 000300 87 / 2685
 030350 88 / 2685
 043590 89 / 2685
 032080 90 / 2685
 007120 91 / 2685
 038530 92 / 2685
 115530 93 / 2685
 070300 94 / 2685
 258790 95 / 2685
 068940 96 / 2685
 101400 97 / 2685
 317530 98 / 2685
 347700 99 / 2685
 002680 100 / 2685
 032280 101 / 2685
 072520 102 / 2685
 154040 103 / 2685
 451700 104 / 2685
 049470 105 / 2685
 019685 106 / 2685
 001210 107 / 2685
 063760 108 / 2685
 00499K 109 / 2685
 137940 110 / 2685
 050760 111 / 2685
 232830 112 / 2685
 154030 113 / 2685
 310870 114 / 2685
 025870 115 / 2685
 009620 116 / 2685
 004365 117 / 2685
 079650 118 / 2685
 215790 119 / 2685
 054940 120 / 2685
 088790 121 / 2685
 225590 122 / 2685
 159910 123 / 2685
 043710 124 / 2685
 060480 125 / 2685
 002070 126 / 2685
 308100 127 / 2685
 204210 128 / 2685
 085810 129 / 2685
 043200 130 / 2685
 044780 131 / 2685
 044380 132 / 2685
 048830 133 / 2685
 043100 134 / 2685
 224060 135 / 2685
 130740 136 / 2685
 054410 137 / 2685
 031860 138 / 2685
 33637L 139 / 2685
 020400 140 / 2685
 019660 141 / 2685
 377460 142 / 2685
 464680 143 / 2685
 001685 144 / 2685
 067770 145 / 2685
 003495 146 / 2685
 344860 147 / 2685
 062970 148 / 2685
 066430 149 / 2685
 065770 150 / 2685
 053060 151 / 2685
 071850 152 / 2685
 017250 153 / 2685
 098660 154 / 2685
 413630 155 / 2685
 139050 156 / 2685
 079190 157 / 2685
 436610 158 / 2685
 027040 159 / 2685
 025890 160 / 2685
 091970 161 / 2685
 152550 162 / 2685
 054220 163 / 2685
 008290 164 / 2685
 010420 165 / 2685
 121890 166 / 2685
 134060 167 / 2685
 900070 168 / 2685
 123330 169 / 2685
 084695 170 / 2685
 069140 171 / 2685
 039740 172 / 2685
 123750 173 / 2685
 005110 174 / 2685
 275630 175 / 2685
 079950 176 / 2685
 108675 177 / 2685
 258830 178 / 2685
 188260 179 / 2685
 335870 180 / 2685
 214310 181 / 2685
 005257 182 / 2685
 468510 183 / 2685
 430230 184 / 2685
 225430 185 / 2685
 071460 186 / 2685
 196700 187 / 2685
 217620 188 / 2685
 084440 189 / 2685
 250930 190 / 2685
 016670 191 / 2685
 079970 192 / 2685
 069330 193 / 2685
 230980 194 / 2685
 192410 195 / 2685
 002355 196 / 2685
 043360 197 / 2685
 106240 198 / 2685
 001770 199 / 2685
 078860 200 / 2685
 115570 201 / 2685
 073540 202 / 2685
 026910 203 / 2685
 060260 204 / 2685
 007815 205 / 2685
 227100 206 / 2685
 050090 207 / 2685
 011080 208 / 2685
 900280 209 / 2685
 101680 210 / 2685
 449020 211 / 2685
 096870 212 / 2685
 35320K 213 / 2685
 070590 214 / 2685
 204630 215 / 2685
 001795 216 / 2685
 168490 217 / 2685
 215380 218 / 2685
 323230 219 / 2685
 023790 220 / 2685
 466910 221 / 2685
 439410 222 / 2685
 065150 223 / 2685
 000087 224 / 2685
 405640 225 / 2685
 004835 226 / 2685
 004105 227 / 2685
 000075 228 / 2685
 477380 229 / 2685
 440820 230 / 2685
 065690 231 / 2685
 424140 232 / 2685
 008500 233 / 2685
 421800 234 / 2685
 106520 235 / 2685
 457630 236 / 2685
 406760 237 / 2685
 071950 238 / 2685
 430220 239 / 2685
 457390 240 / 2685
 422040 241 / 2685
 442310 242 / 2685
 469880 243 / 2685
 244460 244 / 2685
 454750 245 / 2685
 065420 246 / 2685
 000885 247 / 2685
 418170 248 / 2685
 044180 249 / 2685
 473050 250 / 2685
 004255 251 / 2685
 412930 252 / 2685
 002025 253 / 2685
 140910 254 / 2685
 45014K 255 / 2685
 458320 256 / 2685
 006345 257 / 2685
 18064K 258 / 2685
 471050 259 / 2685
 446750 260 / 2685
 430460 261 / 2685
 38380K 262 / 2685
 438220 263 / 2685
 054630 264 / 2685
 446840 265 / 2685
 001067 266 / 2685
 435380 267 / 2685
 445970 268 / 2685
 448370 269 / 2685
 425290 270 / 2685
 456440 271 / 2685
 469900 272 / 2685
 454640 273 / 2685
 174880 274 / 2685
 000225 275 / 2685
 474660 276 / 2685
 476470 277 / 2685
 03481K 278 / 2685
 446150 279 / 2685
 415580 280 / 2685
 474490 281 / 2685
 430700 282 / 2685
 005725 283 / 2685
 444920 284 / 2685
 046070 285 / 2685
 145995 286 / 2685
 455910 287 / 2685
 450050 288 / 2685
 437780 289 / 2685
 455310 290 / 2685
 446190 291 / 2685
 400840 292 / 2685
 448830 293 / 2685
 452670 294 / 2685
 388800 295 / 2685
 439730 296 / 2685
 448760 297 / 2685
 472220 298 / 2685
 442770 299 / 2685
 003075 300 / 2685
 001065 301 / 2685
 450940 302 / 2685
 455250 303 / 2685
 464440 304 / 2685
 456490 305 / 2685
 458610 306 / 2685
 440790 307 / 2685
 467930 308 / 2685
 469480 309 / 2685
 445360 310 / 2685
 004985 311 / 2685
 45226K 312 / 2685
 462020 313 / 2685
 468760 314 / 2685
 433530 315 / 2685
 418210 316 / 2685
 386580 317 / 2685
 472230 318 / 2685
 473370 319 / 2685
 00806K 320 / 2685
 465320 321 / 2685
 000325 322 / 2685
 26490K 323 / 2685
 001515 324 / 2685
 442130 325 / 2685
 475250 326 / 2685
 474930 327 / 2685
 435870 328 / 2685
 161570 329 / 2685
 413600 330 / 2685
 457940 331 / 2685
 090355 332 / 2685
 475240 333 / 2685
 473000 334 / 2685
 001755 335 / 2685
 438580 336 / 2685
 007575 337 / 2685
 014825 338 / 2685
 36328K 339 / 2685
 005745 340 / 2685
 008355 341 / 2685
 148140 342 / 2685
 000145 343 / 2685
 00781K 344 / 2685
 004545 345 / 2685
 014285 346 / 2685
 005965 347 / 2685
 000545 348 / 2685
 012205 349 / 2685
 009415 350 / 2685
 011155 351 / 2685
 004415 352 / 2685
 000227 353 / 2685
 002787 354 / 2685
 014915 355 / 2685
 002785 356 / 2685
 032685 357 / 2685
 001525 358 / 2685
 021045 359 / 2685
 001527 360 / 2685
 002995 361 / 2685